RewriteEngine On
RewriteBase /

# index.php'nin kendisini rewrite etme
RewriteRule ^index\.php$ - [L]

# Gerçek DOSYALAR doğrudan sunulsun
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Her şey index.php'ye
RewriteRule ^$ index.php?dir=/ [L,QSA]
RewriteRule ^(.+?)/?$ index.php?dir=/$1/ [L,QSA]
