RewriteEngine On
RewriteBase /

# Mevcut dosya veya dizin varsa yönlendirme yapma
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Kök dizin
RewriteRule ^$ index.php?dir=/ [L,QSA,B]

# Diğer tüm yollar
RewriteRule ^(.*)$ index.php?dir=/$1 [L,QSA,B]
